<!DOCTYPE html>
<html lang="" ng-app='app'>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Quote2Speech</title>

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
		<!-- Sweet Alert CSS -->
		<link rel="stylesheet" type="text/css" href="bower_components/sweetalert/dist/sweetalert.css">
		<link rel="stylesheet" type="text/css" href="styles.css">


	</head>
	<body ng-controller='QuoteController as quote'>
		<!-- Main Container -->
		<div class="">
			<!-- Heading Title on Page -->
			<div class="well" style="background-color: skyblue">
				<h1 class="lead" style="font-size: 40px">Quote2Speech</h1>
			</div>
			<div class="row">
				<!-- Button Div -->
				<div class="col-md-6 col-md-offset-3 col-xs-6 col-xs-offset-3" style="margin-top: 20em;">

					<!-- Button 1 -->
					<div class="col-md-6 col-xs-6">
						<button ng-click="quote.findMovieQuote()" class="btn btn-primary">Movies</button>
					</div>

					<!-- Button 2 -->
					<div class="col-md-6 col-xs-6">
						<button ng-click="quote.findFamousQuote()" class="btn btn-primary">Famous People</button>
					</div>

				</div>
			</div>
			<div class="col-md-12" style="text-align: center; margin: 2em">
			<div>
				<p ng-if="quote.hide == 1">{{quote.resultsMovie.quote}}</p> 
				<p ng-if="quote.hide == 0">{{quote.resultsFamous.quote}}</p> 
			</div>
			</div>
			<!-- Footer -->
			<footer class="navbar-default navbar-fixed-bottom" style="background-color: skyblue">
				<div class="container-fluid" style="text-align: right">
					<span style="font-size: 20px;" class="lead">Copyright 2016</span>
				</div>
			</footer>
		</div>

		<!-- Angular.js -->
		<script src="bower_components/angular/angular.js"></script>
		<!-- jQuery -->
		<script src="//code.jquery.com/jquery.js"></script>
		<!-- Bootstrap JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
		<!-- Sweet Alert -->
		<script src="bower_components/sweetalert/dist/sweetalert.min.js"></script>
		<!-- JavaScript Files -->
		<script src="app/app.module.js"></script>
		<script src="app/mainController/mainController.controller.js"></script>
		<script src="app/core/quote.factoryMovie.js"></script>
		<script src="app/core/quote.factoryFamous.js"></script>
		<script src="http://code.responsivevoice.org/responsivevoice.js"></script>
	</body>
</html>